.description {
    font-family: 'Syne Mono', monospace;
    font-size: 40pt;
    padding-left: 4vh;
    color: white;
}

.description ul {
    list-style-type: none;
    font-size: 25pt;
}

.description b {
    padding-left: 3.7vh;
}

#title {
    font-size: 60pt;
}

:root {
    --pixel-size: 2px;
    --bg: #000000;
    --grid-cell: calc(var(--pixel-size) * 32);
}

/*
This allows the game to resize whenever you change the size of the window
*/
@media(min-width: 700px) {
    :root {
       --pixel-size: 3px;
    }
 }
@media(min-width: 1000px) {
    :root {
       --pixel-size: 4px;
    }
}

html, body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}



/*
Let's everything scale nicely without any blur.
*/
.pixel-art {
    image-rendering: pixelated;
}

.frame {
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 120);
    outline: 1px solid black;
    z-index:1; 
    position:relative;
}

.camera {
    position: relative;
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 120);
    background: #311432;
    overflow: hidden;
}

.map {
    image-rendering: pixelated;
    background-image: url("../images/backgrounds/Dark Room B.png");
    opacity: 1;
    background-size: 100%;
    width: calc(7.8125 * var(--grid-cell));
    height: calc(7.8125 * var(--grid-cell));
    position: relative;
}

.character {
    image-rendering: pixelated;
    width: calc(var(--grid-cell));
    height: calc(var(--grid-cell));
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.character_spritesheet {
    position: absolute;
    background: url("../images/units/mc_sprite_1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell) / 2);
    height: calc(var(--grid-cell) / 2);
}


